

/* Layout of Page */

body {
    display: flex;
    flex-direction: column;
}

#navbar {
    flex: 0 0 60px;
    display: flex;
}

#content {
    flex: 1;
}

/* Navbar  */
#navbar div {
    flex: 1;
}

.item:first-child {
    display: flex;
    justify-content: end;

    padding: 20px 25px 0px 0px;
}

.item:last-child {
    display: flex;

    padding: 20px 0px 0px 25px;
}

.item button {
    padding: .5rem 1.5rem .25rem 1.75rem;

    font-family: 'Bebas Neue';
    font-size: 2rem;
    letter-spacing: .25rem;
    color: red;

    background-color: white;
    border: 2px red solid;
    border-radius: px;
}

